*.log
*.tmp
*.bak
*.DS_Store
Thumbs.db

DigitalBankAssessment-backend/**/bin/
DigitalBankAssessment-backend/**/obj/
DigitalBankAssessment-backend/**/.vs/
DigitalBankAssessment-backend/**/.idea/
DigitalBankAssessment-backend/**/.user
DigitalBankAssessment-backend/**/.suo
DigitalBankAssessment-backend/**/.userosscache
DigitalBankAssessment-backend/**/.sln.docstates

*.dll
*.exe
*.pdb
*.dbmdl
*.cache
*.log

*.nupkg
*.snupkg
*.nuspec
packages/
.nuget/

*.coverage
*.coveragexml

DigitalBankAssessment-frontend/node_modules/
DigitalBankAssessment-frontend/dist/
DigitalBankAssessment-frontend/.angular/
DigitalBankAssessment-frontend/.idea/
DigitalBankAssessment-frontend/.vscode/
DigitalBankAssessment-frontend/package-lock.json
DigitalBankAssessment-frontend/yarn.lock

/**/.dockerignore
Dockerfile
docker-compose.override.yml
**/docker-data/
**/volumes/
**/tmp/

.vscode/
.history/
*.code-workspace

postman/temp/
*.postman_environment.json
*.postman_collection.json
